<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감성화백</title>
    <meta name="description" content="2022 Capstone Design2 Team 어때요, 참 쉽죠?">
    <meta name="author" content="Eunseo">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <script src="https://kit.fontawesome.com/9ff9f6bf5f.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/555ffe8d45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/exhibitionpage.css">
    <script src="../js/exhibitionpage.js" defer></script>

</head>

<body onload="reloading()">
    <div class="navbar">
        <div class="navbar">
            <img src="../img/logo_no.png" alt="감성화백" class="fav_logo"></img>
            <div class="menu">
                <p id="diary_btn" , onclick="location.href='tempdiary.html'"><span class="to-right-underline">Diary</span></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p id="exhibition_btn" , onclick="location.href='exhibitionpage.html'"><span class="to-right-underline">Exhibition</span></p>
            </div>
        </div>
    </div>
    <div id="main">
        <h1 class="title", id="title">나만의 미술관</h1>
        <div class="background", id="background">
            <div class="window">
                <div class="popup">
                    <div class="popup__top">
                        <div class="title">제목 :
                            <input type="text" value='defult', id="texpinput">
                        </div>
                        <i class="fa-solid fa-xmark" , id="close_popup" onclick="closePopup()"></i>
                    </div>
                    <div class="popup__inside">
                        <div class="arrow_left", onclick="click_arrowleft()">
                            <div class="left__scroll-arrow"></div>
                            <div class="left__scroll-arrow"></div>
                            <div class="left__scroll-arrow"></div>
                        </div>
                        <div class="picture"> <!--exhibitionid+diaryid-->
                            <img src="../img/slide2.jpg" id="the_picture">
                            <div id="about">
                                <h2 id="the_title"></h2>
                                <div class="edit">
                                    <p id="the_date">2020-11-11</p>
                                    <i class="fa-solid fa-trash-can fa-1x", id="trashcan", onclick="click_trashcan()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="arrow_right", onclick="click_arrowright()">
                            <div class="right__scroll-arrow"></div>
                            <div class="right__scroll-arrow"></div>
                            <div class="right__scroll-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end"></div>
</body>