<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감성화백</title>
    <meta name="description" content="2022 Capstone Design2 Team 어때요, 참 쉽죠?">
    <meta name="author" content="Eunseo">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <script src="https://kit.fontawesome.com/9ff9f6bf5f.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/555ffe8d45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/exhibitionpage.css">
    <script src="../js/exhibitionpage.js" defer></script>

</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="../img/favicon.png" alt="감성화백" class="favicon"></img>
        </div>
        <div class="menu">
            <p id="diary_btn" , onclick="location.href='diary.html'"><span class="to-right-underline">Diary</span></p>
            <p id="exhibition_btn" , onclick="location.href='exhibit.html'">Exhibition</p>
        </div>
    </div>
    <div id="main">
        <h1 id="2020" , class="title">나만의 미술관</h1>
        <div id="main__2020" , class="year">
            <h3 id="2020" , class="subtitle">2020</h3>
            <div class="year__flexbox">
                <div id="y2020__01" , class="flexboxone">
                    <div id="y2022__01__icons" , class="icons">
                        <i class="fa-solid fa-bars fa-lg", id="2022__01__baricon", onclick="onBarbtn()"></i>
                        <i class="fa-regular fa-heart fa-lg", id="2022__01__hearticon", onclick="clickLikebtn()"></i>
                        <i class="fa-regular fa-circle-xmark fa-lg" , id="2022__01__deleteicon", onclick="clickDeletebtn()"></i>
                    </div>
                    <div class="flexonxoneinside", onclick="clickTheExhitibion()">
                        <div id="y2022__01__contents" , class="contents">
                            <h1 id="y2020__01__title" , class="subtitle">01강릉시 해안에서</h1>
                            <h4 id="y2020__01__date" , class="subdate">2022년 05월 07일</h4>
                        </div>
                        <div id="y2020__01__description", class="project__description">
                            <h3>01 강릉시 해안에서</h3>
                            <span>오늘은 우울한날 </span>
                            <span>만우절에 입은 교복</span>
                            <span>세상 제일 행복했던날 </span>
                            <span>키친 마이아르에 가다</span>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                            <span>오늘은 우울한날 </span>
                            <span>만우절에 입은 교복</span>
                            <span>세상 제일 행복했던날 </span>
                            <span>키친 마이아르에 가다</span>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                            <span>나만의 공간</span>
                            <span>오늘은 우울한날 </span>
                            <span>만우절에 입은 교복</span>
                            <span>세상 제일 행복했던날 </span>
                            <span>키친 마이아르에 가다</span>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                        </div>
                    </div>
                </div>
                <div id="y2020__02" , class="flexboxone">
                    <div id="y2022__02__icons" , class="icons">
                        <i class="fa-solid fa-bars fa-lg", id="2022__02__baricon", onclick="onBarbtn()"></i>
                        <i class="fa-regular fa-heart fa-lg", id="2022__02__hearticon", onclick="clickLikebtn()"></i>
                        <i class="fa-regular fa-circle-xmark fa-lg" , id="2022__02__deleteicon", onclick="clickDeletebtn()"></i>
                    </div>
                    <div class="flexonxoneinside">
                        <div id="y2022__02__contents" , class="contents">
                            <h1 id="y2020__02__title" , class="subtitle">02 즐거웠던 그날</h1>
                            <h4 id="y2020__02__date" , class="subdate">2022년 05월 07일</h4>
                        </div>
                        <div id="y2020__02__description", class="project__description">
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                        </div>
                    </div>
                </div>
                <div id="y2020__03" , class="flexboxone">
                    <div id="y2022__03__icons" , class="icons">
                        <i class="fa-solid fa-bars fa-lg", id="2022__03__baricon", onclick="onBarbtn()"></i>
                        <i class="fa-regular fa-heart fa-lg", id="2022__03__hearticon", onclick="clickLikebtn()"></i>
                        <i class="fa-regular fa-circle-xmark fa-lg" , id="2022__03__deleteicon", onclick="clickDeletebtn()"></i>
                    </div>
                    <div class="flexonxoneinside">
                        <div id="y2022__03__contents" , class="contents">
                            <h1 id="y2020__03__title" , class="subtitle">03강릉시 해안에서</h1>
                            <h4 id="y2020__03__date" , class="subdate">2022년 05월 07일</h4>
                        </div>
                        <div id="y2020__03__description", class="project__description">
                            <h3>03 강릉시 해안에서</h3>
                            <span>오늘은 우울한날 </span>
                            <span>만우절에 입은 교복</span>
                            <span>세상 제일 행복했던날 </span>
                            <span>키친 마이아르에 가다</span>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                        </div>
                    </div>
                </div>
                <div id="y2020__04" , class="flexboxone">
                    <div id="y2022__04__icons" , class="icons">
                        <i class="fa-solid fa-bars fa-lg", id="2022__04__baricon", onclick="onBarbtn()"></i>
                        <i class="fa-regular fa-heart fa-lg", id="2022__04__hearticon", onclick="clickLikebtn()"></i>
                        <i class="fa-regular fa-circle-xmark fa-lg" , id="2022__04__deleteicon", onclick="clickDeletebtn()"></i>
                    </div>
                    <div class="flexonxoneinside">
                        <div id="y2022__04__contents" , class="contents">
                            <h1 id="2020__04__title" , class="subtitle">04슬픈 기억들</h1>
                            <h4 id="2020__04__date" , class="subdate">2022년 05월 07일</h4>
                        </div>
                        <div id="y2020__04__description", class="project__description">
                            <h3>04슬픈 기억들</h3>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                            <span>나만의 공간</span>
                            <span>오늘은 우울한날 </span>
                            <span>만우절에 입은 교복</span>
                            <span>세상 제일 행복했던날 </span>
                            <span>키친 마이아르에 가다</span>
                            <span>교환학생</span>
                            <span>그냥,,,</span>
                            <span>나만의 공간</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="background">
            <div class="window">
                <div class="popup">
                    <i class="fa-solid fa-xmark" , id="close_popup" onclick="closePopup()"></i>
                    <div class="popup__inside">
                        <div class="arrow_left", onclick="click_arrowleft()">
                            <div class="left__scroll-arrow"></div>
                            <div class="left__scroll-arrow"></div>
                            <div class="left__scroll-arrow"></div>
                        </div>
                        <div class="picture">
                            <img src="../img/slide2.jpg" id="the_picture">
                            <div id="about">
                                <h2 id="the_title">제주시 해변에서 한때</h2>
                                <div class="edit">
                                    <p id="the_date">2020-11-11</p>
                                    <i class="fa-solid fa-trash-can fa-1x", id="trashcan", onclick="click_trashcan()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="arrow_right", onclick="click_arrowright()">
                            <div class="right__scroll-arrow"></div>
                            <div class="right__scroll-arrow"></div>
                            <div class="right__scroll-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>