<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <meta http-equiv="refresh" content="3;url=tempdiary.html">
  </head>
  <body>
    <div class="container">
      <i class="fas fa-spinner fa-10x fa-spin"></i>
    </div>
  </body>
</html>