<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 슬라이더</title>
    <link rel="stylesheet" href="../css/slider3.css">
</head>
<body>
<div class="slider">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <input type="radio" name="slide" id="slide4">
    <ul id="imgholder" class="imgs">
        <li>
            <div id="picture">
                <img src="../img/slide1.jpg">
                <div>
                    <h1>sdfsdfsdf</h1>
                    <p>sdfsdfsdfsdfsdfsdfdsffds</p>
                </div>
            </div>
        </li>
        <li><img src="../img/slide2.jpg"></li>
        <li><img src="../img/slide3.jpg"></li>
        <li><img src="../img/slide4.jpg"></li>
    </ul>
    <div class="bullets">
        <label for="slide1">&nbsp;</label>
        <label for="slide2">&nbsp;</label>
        <label for="slide3">&nbsp;</label>
        <label for="slide4">&nbsp;</label>
    </div>
</div>
</body>
</html>