@font-face {
  src: url("/Web_pages/client/pages/font/나눔손글씨\ 성실체.ttf");
  font-family: "sungsil";
}

@font-face {
  src: url("/Web_pages/client/pages/font/나눔손글씨\ 반짝반짝\ 별.ttf");
  font-family: "twinklestar";
}

:root {
  /* Color */
  --color-defaultbackground: whitesmoke;
  --color-main: #303550;
  --color-blue: #333399;
  --color-orange: #eb7e52;
  --color-darkorange: #eb7648;
  --color-gray: #c2c1c1;
  --color-whitegray: #ebeaea;
  --color-loginbordergray: #C8D0DA;
  --color-loginbackgray: #F6F8FA;
  --color-loginfont: #24292F;

  /* Font size */
  --font-large: 50px;
  --font-medium: 30px;
  --font-regular: 20px;
  --font-small: 15px;
  --font-nano: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 540;
  --weight-regular: 400;
}



body {
  margin: 0;
  color: var(--color-main);
  background-color: var(--color-defaultbackground);
  font-family: "twinklestar";
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);

}

input {
  font-family: "twinklestar";
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-main);
  border: none;
  background: transparent;
  text-align: right;
  width: 70%;
  height: 60%;
}

textarea {
  font-family: "sungsil";
  font-weight: var(--weight-bold);
  color: var(--color-main);
  border: none;
  background: transparent;
  text-align: right;
}

i:hover {
  color: var(--color-orange);
}
#all {
  width: 100%;
  height: 600px;
  background-color: var(--color-defaultbackground);
}
.navbar {
  display: flex;
}

.fav_logo {
  width: 15%;
  height: 30%;
  position: right;
}
.menu {
  padding-top: 5%;
  vertical-align: middle;
  width: 30%;
  height: 15%;
  display: flex;
  font-size: var(--font-regular);
  font-weight: 600x;
}
#diary_btn {
  width: 30%;
  height: 100%;
  font-size: 20px;
  border-bottom: 4px solid #8fd3f4;
}

#exhibition_btn {
  width: 60%;
  height: 100%;
  font-size: 20px;
}
.to-right-underline {
  position: relative;
}

.to-right-underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0px;
  height: 3px;
  margin: 4px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #3f51b5;
}

.to-right-underline:hover:after {
  width: 200%;
  opacity: 1;
}



.mydiary__container {
  display: flex;
  width: 100%;
  height: 740px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mydiary {
  display: flex;
  height: 100%;
  width: 80%;
}

.left {
  height: 100%;
  width: 40%;
  border: 5px solid var(--color-main);
}

.left__firstrow {
  width: 100%;
  height: 10%;
}

.left__thirdrow {
  border-top: 5px solid var(--color-main);
  width: 100%;
  height: 90%;
}
.picture{
  width: 100%;
  height : 100%;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.image-upload {
  width: 100%;
  height: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-show{
  display: flex;
  width: 100%;
  height: 50%;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10%;
}

.button {
  display: flex;
  justify-content: center;
}

label {
  justify-content: center;
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: flex;
  align-items: center;
  border-bottom: solid 2px var(--color-main);
  width: 60%;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}

.buttonContainer {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: var(--color-main);
  color: whitesmoke;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.img {
  position: absolute;
}

#openPrevpage {
  transform: rotate(-45deg);
}

.right {
  height: 100%;
  width: 70%;
  border: 5px solid var(--color-main);
  border-left: 0px;
}

.fistrowrap {
  display: block;
  width: 100%;
  height: 10%;
}

.firstrow {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.date {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
}

.date>input {
  font-size: 40px;
}

#year {
  height: 50%;
  border: none;
  background: transparent;
  font-size: 30px;
}
#month {
  height: 50%;
  border: none;
  background: transparent;
  font-size: 30px;
}
#day {
  height: 50%;
  border: none;
  background: transparent;
  font-size: 30px;
}
.weather {
  border-left: 5px solid var(--color-main);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.secondrowwrap {
  display: block;
  width: 100%;
  height: 10%;
  border-top: 5px solid var(--color-main);
  border-bottom: 5px solid var(--color-main);

}

.secondrow {
  display: flex;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
}
.emotion{
  width: 85%;
}
.emotion>i {
  font-size: var(--font-small);
}

.thirdrowwrap {
  display: block;
  width: 100%;
  height: 10%;
  border-bottom: 5px solid var(--color-main);
}

.thirdrow {
  display: flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--font-medium);
}

.title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;

}

.title__input {
  width: 80%;
  text-align: left;
  font-size: var(--font-medium);
}
.content{
  width: 100%;
  height: 70%;
}
.content__input {
  width: 90%;
  height: 75%;
  text-align: left;
  font-size: var(--font-medium);
  margin: 2%;
  background-color: transparent;
  color: var(--color-main);
}
.btn__flexbox{
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
}
.write_container{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-main);
  color: whitesmoke;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
  margin-right: 1%;
}
.save_container{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-main);
  color: whitesmoke;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
  margin-left: 1%;
}
.right__lastrow {
  display: flex;
  justify-content: right;
}

#openNextpage {
  transform: rotate(225deg);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  
  /* 임시 지정 */
  width: 100%;
  height: 60%;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}
.message {
  height: 6%;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}
.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}
#close{
  margin-top: 1%;
  margin-right: 1%;
  height: 10%;
  float: right;
}
.img__wrap{
  display: flex;
  width: 94%;
  height: 90%;
  text-align: center;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
}
.img__wrapbox{
  width: 17%;
  height: 60%;
  background-color: white;
  margin: auto;
}
.img__wrapbox:hover{
  box-shadow: 10px 10px 10px #eb7d5280;
}
.wrapbox__img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: whitesmoke;
}
.spinner{
  display: flex;
  width: 94%;
  height: 90%;
  text-align: center;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
}